code[class*=language-],pre[class*=language-]{-moz-hyphens:none;-moz-tab-size:4;-ms-hyphens:none;-o-tab-size:4;-webkit-hyphens:none;background:none;color:#555;font-family:Inconsolata,monospace;hyphens:none;tab-size:4;white-space:pre-wrap;word-break:normal;word-spacing:0;word-wrap:normal}
code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{background:#fff}
code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{background:blue}
pre[class*=language-]{margin:.5em 0;overflow:auto;padding:1em}
:not(pre)>code[class*=language-],pre[class*=language-]{background:#fff}
:not(pre)>code[class*=language-]{border-radius:.3em;padding:.1em;white-space:normal}
.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#546e7a}
.token.punctuation{color:grey}
.namespace{opacity:.7}
.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#555}
.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#555}
.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{background:#555;color:#555}
.token.atrule,.token.attr-value,.token.keyword{color:black}
.token.function{color:#555}
.token.important,.token.regex,.token.variable{color:#555}
.token.bold,.token.important{font-weight:700}
.token.italic{font-style:italic}
.token.entity{cursor:help}